//box
$container-width: 940px;

//font
// $base-font-light: 'NanumSquareL';
$base-font: 'NanumSquare';
$base-font-bold: 'NanumSquareB';
$base-font-ex: 'NanumSquareEx';

//color
$brand-color: #2d363f !default;
$accent-color: #ff9c00 !default;
$border-color: #ccc;

//type-color
$type-a-color: $accent-color!important;
$type-b-color: #e95d09!important;;
$type-c-color: #ff7e00!important;;
$type-d-color: #89959f!important;;
$type-e-color: #39444e!important;;

//mian top banner color
$main-banner-bg: $brand-color;